<h1>Make your form here</h1>
<label>Pirates</label>
<form action="/show"  method="POST">
    <p>Pirate Name: <input name="pirate[name]" type="text"/></p>
    <p>Pirate Weight: <input name="pirate[weight]" type="text"/></p>
    <p>Pirate height: <input name="pirate[height]" type="text"/></p>

    <p>Ship Name: <input name="pirate[ships][][name]" type="text"/></p>
    <p>Ship Type: <input name="pirate[ships][][type]" type="text"/></p>
    <p>Ship Booty: <input name="pirate[ships][][booty]" type="text"/></p>

    <p>Ship Name: <input name="pirate[ships][][name]" type="text"/></p>
    <p>Ship Type: <input name="pirate[ships][][type]" type="text"/></p>
    <p>Ship Booty: <input name="pirate[ships][][booty]" type="text"/></p>
</form>
