<h1>Make your form here</h1>
<label>Pirates</label>
<form action="/show"  method="POST">
<p>Pirate Name: <input name="pirate[name]" type="text"/></p>
<p>Pirate Weight: <input name="pirate[weight]" type="text"/></p>
</form>
