<h1>Make your form here</h1>
<label>Pirates</label>
<form action="/pirates"  method="POST">
    <p>Pirate Name: <input name="pirate[name]" type="text"/></p>
    <p>Pirate Weight: <input name="pirate[weight]" type="text"/></p>
    <p>Pirate height: <input name="pirate[height]" type="text"/></p>

    <p>Ship Name: <input id="ship_name_1" name="pirate[ships][][name]" type="text"/></p>
    <p>Ship Type: <input id="ship_type_1" name="pirate[ships][][type]" type="text"/></p>
    <p>Ship Booty: <input id="ship_booty_1" name="pirate[ships][][booty]" type="text"/></p>

    <p>Ship Name: <input id="ship_name_2" name="pirate[ships][][name]" type="text"/></p>
    <p>Ship Type: <input id="ship_type_2" name="pirate[ships][][type]" type="text"/></p>
    <p>Ship Booty: <input id="ship_booty_2" name="pirate[ships][][booty]" type="text"/></p>

    <input name="Submit" type="submit" value="Submit"/>
</form>
